{% extends 'index.html' %}
{% load static %}
{% block head %}
    <title>Вход</title>
    <link rel="stylesheet" href={% static 'styles/css/site.css' %}>
    <link rel="stylesheet" href={% static 'styles/css/forms.css' %}>
{% endblock %}
{% block content %}
    <div class="form-container">
        <h1>Вход в аккаунт</h1>
        <form method="post" action={% url 'login' %}>
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {{ field }}
                    {% if field.errors %}
                        <ul class="errors">
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            {% endfor %}
            <a class="blink" href={% url 'registration' %}>У меня нет аккаунта</a><br><br>
            <input id="send-button" type="submit" value="Отправить">
        </form>
    </div>
{% endblock %}