{% extends 'index.html' %}
{% load static %}
{% block head %}
    <title>Регистрация</title>
    <link rel="stylesheet" href={% static 'styles/css/site.css' %}>
    <link rel="stylesheet" href={% static 'styles/css/forms.css' %}>
{% endblock %}
{% block content %}
    <div class="form-container">
    <h1>Регистрация пользователя</h1>
        <form method="post" action={% url 'registration' %}>
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {{ field }}
                    {% if field.errors %}
                        <ul class="errors">
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            {% endfor %}
            <a href={% url 'login' %}>У меня есть аккаунт</a><br>
            <input 
                    id="send-button"
                    type="submit" 
                    value="Зарегистрироваться"
            >
        </form>
    </div>
{% endblock %}