{% extends 'index.html' %}
{% load static %}
{% block head %}
    <title>Обратная связь</title>
    <link rel="stylesheet" href={% static 'styles/css/site.css' %}>
    <link rel="stylesheet" href={% static 'styles/css/forms.css' %}>
{% endblock %}
{% block content %}
    {% if form != None %}
        <div class="form-container">
            <h1>Здесь вы можете оставить отзыв или описать проблему, с которой столкнулись</h1>
            <p style="text-align: center">
                Ваше мнение очень важно для нас. Мы регулярно собираем статистику о пользователях, чтобы сделать сервис лучше.
            </p><br>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.name }}
                    {% if form.name.errors %}
                        <ul class="errors">
                            {% for error in form.name.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.city }}
                    {% if form.city.errors %}
                        <ul class="errors">
                            {% for error in form.city.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.job }}
                    {% if form.job.errors %}
                        <ul class="errors">
                            {% for error in form.job.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="{{ form.gender.id_for_label }}">{{ form.gender.label }}</label><br><br>
                    {{ form.gender }}
                    {% if form.gender.errors %}
                        <ul class="errors">
                            {% for error in form.gender.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <br>
                <div class="form-group">
                    <label for="{{ form.internet.id_for_label }}">{{ form.internet.label }}</label><br><br>
                    {{ form.internet }}
                    {% if form.internet.errors %}
                        <ul class="errors">
                            {% for error in form.internet.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <br>
                <div class="form-group">
                    <label for="{{ form.notice.id_for_label }}">{{ form.notice.label }}</label><br><br>
                    {{ form.notice }}
                    {% if form.notice.errors %}
                        <ul class="errors">
                            {% for error in form.notice.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <br>
                <div class="form-group">
                    {{ form.email }}
                    {% if form.email.errors %}
                        <ul class="errors">
                            {% for error in form.email.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.message }}
                    {% if form.message.errors %}
                        <ul class="errors">
                            {% for error in form.message.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <input id="send-button" type="submit" value="Отправить"><br><br>
            </form>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                let submitButton = document.querySelector('input[type="submit"]');
                submitButton.addEventListener('mouseover', () => {
                    submitButton.style.backgroundColor = 'green' 
                    submitButton.style.color = 'red';
                });
                submitButton.addEventListener('mouseout', () => {
                    submitButton.style.color = '';
                    submitButton.style.backgroundColor = '';
                });
                let inputFields = document.querySelectorAll('input[type="text"], input[type="email"], textarea');
                for (let inputField of inputFields) {
                    inputField.addEventListener('focus', () => {
                        inputField.style.backgroundColor = 'blue';
                    });
                    inputField.addEventListener('blur', () => {
                        inputField.style.backgroundColor = '';
                    });
                }
            });
        </script>
    {% else %}
        <h1>Благодарим за предоставленную информацию!</h1>
        <h1>Вы сообщили о себе следующее:</h1>
        <ul>
            <li><span>Имя:</span> {{ data.name }}</li>
            <li><span>Город:</span> {{ data.city }}</li>
            <li><span>Пол:</span> {{ data.gender}}</li>
            <li><span>Работа:</span> {{ data.job }}</li>
            <li><span>Пользуетесь интернетом:</span> {{ data.internet }}</li>
            <li><span>Получать новости сайта на e-mail:</span>
                {{ data.notice }}
            </li>
            <li><span>Ваш e-mail:</span> {{ data.email }}</li>
            <li><span>Информация о себе:</span> {{ data.message }}</li>
        </ul>
    {% endif %}
{% endblock %}