{% extends 'index.html' %}
{% load static %}
{% block head %}
	<title>Товары</title>
    <link rel="stylesheet" href={% static 'styles/css/site.css' %}>
    <link rel="stylesheet" href={% static 'styles/css/product_detail.css' %}>
{% endblock %}
{% block content %}
    <h3 id="hierarchy">
        <a href={% url 'products' %}>Назад</a> |
        <a>Все товары</a> / 
        <a>{{ product.category.parent }}</a> / 
        <a>{{ product.category }}</a> / 
        <a>{{ product.brand }}</a>
    </h3>
    <div style="display: flex">
        <div id="images" class="blocks-style">
            <div class="blocks-content">
                {% if product.preview_image %}
					<div style="text-align: center">
                        <img style="width: 50%; border-radius: 15px;" src="{{ product.preview_image.url }}" alt="product.preview_image">
                    </div>
				{% else %}
					<div>Нет картинки</div>
				{% endif %}
            </div>
        </div>
	    <div id="product-description" class="blocks-style">
            <div class="blocks-content">
                <h2>{{ product.name }}</h2><br>
                <p>
                    {{ product.description }}<br><br>
                    Дата последнего обновления товара: {{ product.date_updated }}<br>
                    Дата создания товара: {{ product.date_created }}<br><br>
                    Цена: {{ product.price }} ₽<br><br>
                    <a id="addToCart" href="javascript:void(0);">Добавить в корзину</a><br><br>
                    <script>
                        document.getElementById('addToCart').addEventListener('click', function() {
                            var productId = {{ product.id }}; // Предполагается, что product передан в контекст шаблона
                            var csrftoken = '{{ csrf_token }}';
                        
                            fetch('{% url "add_to_cart" product.id %}', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json',
                                    'X-CSRFToken': csrftoken
                                },
                                body: JSON.stringify({ product_id: productId })
                            })
                            .then(response => response.json())
                            .then(data => {
                                if (data.success) {
                                    alert(data.message);
                                } else {
                                    alert('Ошибка: ' + data.message);
                                }
                            })
                            .catch(error => {
                                console.error('Ошибка:', error);
                                alert('Произошла ошибка при добавлении товара в корзину');
                            });
                        });
                    </script>
                    <a href={% url 'update_product' product.id %}>Изменить товар (для администратора)</a><br><br>
                    <a id="deleteProduct">Удалить товар (для администратора)</a>
                    <script>
                        document.getElementById('deleteProduct').addEventListener('click', function () {
                            if (confirm("Вы уверены, что хотите удалить товар? Это действие необратимо.")) {
                                fetch("{% url 'delete_product' product.id %}", {
                                    method: "POST",
                                    headers: {
                                        "X-CSRFToken": "{{ csrf_token }}",
                                    },
                                })
                                .then(response => {
                                    if (response.ok) {
                                        alert("Товар №{{product.id}} удалён.");
                                        window.location.href = "{% url 'main' %}";
                                    } else {
                                        alert("Ошибка при удалении товара.");
                                    }
                                });
                            }
                        });
                    </script>
                </p>
            </div>
        </div>
    </div>
    <div id="feedbacks" class="blocks-style">
        <div class="blocks-content">
            <h2>Отзывы | Вопросы</h2><br>
			{% if user.is_authenticated %}
            <form method="post" action={% url 'create_review' product.id %}>
                {% csrf_token %}
                {{ form.text }}
                <br>
                <button>Оставить отзыв</button>
                <br>
                <br>
            </form>
			{% else %}
			<div>Отзывы могут оставлять только авторизованные пользователи.</div>
			{% endif %}
            <br>
            <hr style="border-color: limegreen; border-width: 2px; border-style: solid;">
            <br>
            {% for review in product.reviews.all %}
                <div class="feedback">
                    <h4>
                        {{ review.user }} <br>
                        {{ review.date_created }}
                    </h4>
                    <p>
                        {{ review.text }}
                    </p>
                </div>
            {% empty %}
                <p>На данный товар пока что нет отзывов.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}