{% extends "index.html" %}
{% load static %}
{% block head %}
	<link rel="stylesheet" href={% static 'styles/css/site.css' %}>
{% endblock %}
{% block content %}
<div style="text-align: center">
    <br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/sBR8GTUxznM?si=w9zgGPj7tBkHmEuC&amp;start=8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/hvGVmBl-7Lo?si=H-UjRhDwrNuy9Nk_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
{% endblock %}